@model IEnumerable<Cinema>

@{
    ViewData["Title"] = "List of Cinemas";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <td>@Html.DisplayNameFor(model => model.Logo)</td>
                    <td>@Html.DisplayNameFor(model => model.Name)</td>
                    <td>@Html.DisplayNameFor(model => model.Description)</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="img-thumbnail" src="@item.Logo" alt="@item.Name" style="width: 150px; height: 200px;" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            <div class="form-group green-border-focus">
                                @*<label for="exampleFormControlTextarea5">Colorful border on :focus state</label>*@
                                <textarea class="form-control"
                                          id="exampleFormControlTextarea5"
                                          rows="6"
                                          style="height: auto; width: 480px;">@Html.DisplayFor(modelItem => item.Description)</textarea>
                            </div>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary"
                               asp-controller=@eticket.Helper.ControllerHelper.GetControllerName(typeof(eticket.Controllers.CinemasController))
                               asp-action=@nameof(eticket.Controllers.CinemasController.Edit)
                               asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square">
                                    Edit
                                </i>
                            </a> |
                            <a class="btn btn-outline-info"
                               asp-controller=@eticket.Helper.ControllerHelper.GetControllerName(typeof(eticket.Controllers.CinemasController))
                               asp-action=@nameof(eticket.Controllers.CinemasController.Details)
                               asp-route-id="@item.Id">
                                <i class="bi bi-eye">
                                    Details
                                </i>
                            </a> |
                            <a class="btn btn-danger text-white"
                               asp-controller=@eticket.Helper.ControllerHelper.GetControllerName(typeof(eticket.Controllers.CinemasController))
                               asp-action=@nameof(eticket.Controllers.CinemasController.Delete)
                               asp-route-id=@item.Id>
                                <i class="bi bi-trash">
                                    Delete
                                </i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div style="position: fixed; right: 25px; bottom: 65px;" class="text-white">
    <a asp-controller=@eticket.Helper.ControllerHelper.GetControllerName(typeof(eticket.Controllers.CinemasController))
       asp-action="Create"
       class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>